.profile-image {
  width: 175px;
  height: 175px;
  border-radius: 15%;
  object-fit: cover;
  display: block;
  margin-left: 20%;
}

.name {
  font-family: "Rosehot", sans-serif;
  letter-spacing: 3px;
  line-height: 1.2;
  color: #fce8c3;
  margin-top: 20px;
  font-weight: 600;
}
