.footer {
  display: flex;
  gap: 20px;
  margin-top: 15%;
  margin-left: 10%;
  align-items: center;
}

.footer a {
  color: #fce8c3;

  &:hover {
    color: black;
    transform: translateY(-7px);
  }
  font-size: 24px;

  transition: 0.3s;
}
