* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 1.7;
  text-align: justify;
}

a,
button,
svg {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #7d5340, #4b3f35);
  color: #fff7eb;
  font-family: "DM Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h4 {
  font-family: "Rosehot", sans-serif;
  color: #fce8c3;
  font-weight: 600;
  font-style: italic;
  font-size: clamp(2rem, 3vw, 2rem);
}
h2 {
  font-family: "Rosehot", sans-serif;
  color: #fce8c3;
  font-weight: 600;
  font-style: italic;
  font-size: clamp(1.2rem, 3vw, 2rem);
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 100%;
  margin-left: 0;
  padding: 20px;
  box-sizing: border-box;
}

section {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 30px;
  }
}

.landing-screen {
  position: fixed;

  inset: 0;

  display: flex;

  justify-content: center;

  align-items: center;

  background: linear-gradient(135deg, #7d5340, #d5a888);

  z-index: 9999;
}

.landing-name {
  font-family: "Rosehot", sans-serif;

  font-size: 5rem;

  color: black;

  letter-spacing: 3px;
}

@media (hover: hover) {
  .project:hover,
  .experience:hover,
  .blog-card:hovr {
    transform: translateX(8px);
  }
}

@media screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  .content {
    width: 100%;
    margin-left: 0;
    padding: 20px;
  }

  .profile-image {
    width: 140px;
    height: 140px;
    margin: auto;
  }

  .project,
  .experience {
    flex-direction: column;
  }

  .footer {
    margin: 30px 0;
    justify-content: center;
  }

  .tabs {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .landing-name {
    font-size: 2.5rem;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: justify;
  }
}
